@import "../../../../shared/styles/common.scss";
@import "../../../../shared/styles/variables.scss";

.container {
    .content {
        min-height: 600px;
        height: 35vw;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url("../../../../shared/assets/backgrounds/header.jpg");
        background-color: $normal;
        background-position: center 30%;
        background-repeat: no-repeat;
        background-size: cover;
        @include flex-center;
        .info {
            @include flex-center;
            flex-direction: column;
            color: $light;
            padding: 0 50px;
            .title {
                font-size: $giant-font;
                text-transform: uppercase;
                font-weight: 200;
                margin: 0;
                text-align: center;
            }
            .divider {
                width: 100%;
                height: 1px;
                border-width: 0;
                background-color: $light;
                margin: 20px 0;
            }
            .date {
                font-size: $huge-font;
                font-weight: 200;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        .content {
            .info {
                .title {
                    font-size: $huge-font;
                }
            }
        }
    }
}
