$light: #f0f0f0;
$normal: #a6a6a6;
$dark: #202020;
$light-primary: #cae4c0;
$normal-primary: #899085;
$dark-primary: #758071;
$success: #0d8002;
$error: #c50505;

$tiny-font: 14px;
$small-font: 18px;
$normal-font: 20px;
$big-font: 25px;
$huge-font: 30px;
$giant-font: 40px;
